@model QuotesAPP.DAL.Author

@{
    ViewData["Title"] = "Account";
}

<h4>Hi <strong style="color:lightblue">@Html.DisplayFor(model => model.Name)</strong></h4>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Author" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-controller="Author" asp-action="Delete" asp-route-id="@Model?.Id">Delete Your Account</a> 
</div>
